# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# Generated output and artifact files
*output.md
*.html
*.csv
*.png
last_run_timestamp.txt
paul.prompt.*
.scripts/exclusions_340b_rebate.yaml
.vscode/exclusions_340b_rebate.yaml
prompts/exclusions_340b_rebate.yaml
templates/exclusions.prompt.template.md
nohup.out
.env
