
google-generativeai<=1.40.0
google-cloud-aiplatform[rag]>=1.55.0
google-cloud-storage
google-cloud-logging
requests
gcsfs
pypdf
matplotlib 
numpy
pandas
scikit-learn
fsspec
tabulate
PyYAML
google-adk
google.adk.integrations